<body class="sb-nav-fixed">

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" routerLink="/admin/profileAdminNN">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" ></i></div>
                            Dashboard
                        </a>

                        <a class="nav-link" routerLink="/admin/allUser">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" ></i></div>
                            Users
                        </a>

                        <a class="nav-link" routerLink="/admin/complaintsAdmin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" ></i></div>
                            Complaint
                        </a>
                        <a class="nav-link" routerLink="/admin/calendarAdmin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" ></i></div>
                            Calender
                        </a>

                 
                        <div class="sb-sidenav-menu-heading">Interface</div>

                        <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                           Moblity Announcment
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                
                                <a class="nav-link" routerLink="/admin/annonces"> Announcment List </a>
                                <a class="nav-link" routerLink="/admin/add">AddAnnouncment</a>
                                <a class="nav-link" routerLink="/admin/statistique"> statistiques</a>
                                <a class="nav-link" routerLink="/admin/Abonnement"> Subscription List </a>
                              
                            </nav>
                        </div>
                        <a class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            accommodation ad
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                         </a>
                        <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" routerLink="/admin/addAccomodation">ADDAccomodation Adss</a>
                            <a class="nav-link" routerLink="/admin/Accomodations">List_Accomodation_Ads</a>
                          </nav>
                       </div>

                       <a class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        University
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                       <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" routerLink="/admin/add-univ">Add University</a>
                            <a class="nav-link" routerLink="/admin/list-university">List of Universities</a>
                        </nav>
                    </div>
                    
                    <a class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Partnership
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" routerLink="/admin/pending">Pending</a>
                            <a class="nav-link" routerLink="/admin/list-partnership">List of Partnership</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseLayouts5" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Candidatures
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                       <div class="collapse" id="collapseLayouts5" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" routerLink="/admin/cand">Liste des Candidatures</a>
                            <a class="nav-link" routerLink="/admin/crit">Critères de Sélection</a>
                        </nav>
                    </div>
                    
                </div>
                </div>
            </nav>
        </div>
    </div>
 </body>
    